:root {
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-family: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1b36;
  color: #c3dafe;
  width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: 1920px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents {
  position: fixed;
  left: 5%;
}

.table-of-contents a {
  display: inline-block;
  color: #e9d8fd;
  text-decoration: none;
  transition: transform 0.1s;
}

.table-of-contents a:hover {
  color: #c3dafe;
  transform: scale(1.1);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  text-shadow: 2px 2px 6px #111;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  color: #9f7aea;
}

h2 {
  font-size: 3rem;
  color: #4299e1;
}

h3 {
  font-size: 2.5rem;
  color: #38b2ac;
}

h4 {
  font-size: 2rem;
  color: #f56565;
}

h5 {
  font-size: 1.5rem;
  color: #ed64a6;
}

strong {
  color: #667eea;
}

li {
  padding-left: 1rem;
}

li.active {
  list-style-type: "➡";
  scale: 1.2;
}

.red {
  color: #f56565;
}

.yellow {
  color: #ecc94b;
}

.green {
  color: #48bb78;
}

img {
  max-width: 50%;
  max-height: 50vh;
  box-shadow: 0.2rem 0.2rem 0.5rem #111;
}
